
/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


@media screen and (min-width: 900px) {
  /* Contenedor principal */
.container {
    display: grid;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100vh;
}
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: lightblue;
}

main {
    grid-column: 1 / span 2;
    grid-row: 2 / 6;
    background-color: lightgreen;

}

aside {
    grid-column: 3;
    grid-row: 2 / 6;
    background-color: lightcoral;

}

footer {
    grid-column: 1 / span 3;
    grid-row: 6;
    background-color: darkblue;
}

}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr
        
    }
}

/* Estilos para tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Estilos para los elementos dentro del contenedor */
.item {
    padding: 20px;
    text-align: center;
}
